.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  margin-top: 200px;
}

.results ul {
  list-style: none;
}
button {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
}
